/* --- Google Font URL --- */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* --- Basic styles --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

// --- Reuseable Styles ---
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

/* --- Mobile nav Slide Effect start --- */
.overly-effect {
  @apply text-center text-white py-5 z-50 fixed inset-0 bg-[rgba(251,46,134,0.9)] transition-transform duration-500 ease-in-out;
  transform: translateX(-100%);

  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(-100%);
  }
}

// --- Feature Product slider start ---
.slider-container {
  .slick-slider {
    // make space between two product card
    .slick-track {
      display: flex !important;
      gap: 18px !important;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    // next preview button hide
    .slick-prev,
    .slick-next {
      display: none !important;
    }

    // bottom active dot color change
    .slick-dots {
      li {
        button {
          &:before {
            font-size: 8px !important;
          }
        }
        &.slick-active {
          button {
            &:before {
              opacity: 0.75;
              color: #f5066d !important;
            }
          }
        }
      }
    }
  }
}

// --- Latest Product section start ---
.latest-products {
  .filter-button {
    @apply py-1 border-b-2 border-white cursor-pointer lg:hover:border-b-2 lg:hover:border-[#FB2E86] lg:hover:text-[#FB2E86];

    &.active {
      border-bottom: 2px solid #fb2e86 !important;
      color: #fb2e86;
    }
  }

  .filtering-animation {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 500ms forwards ease-in-out;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
